
{{#if msgup}}
    <div class="alert alert-danger">
        <strong>Invalid!</strong> Please check your password.
    </div>
{{/if}}
{{#if msgu}}
    <div class="alert alert-danger">
        <strong>Invalid!</strong> Please check your details.
    </div>
{{/if}}

{{#if msgs}}
    <div class="alert alert-success">
        <strong>Success!</strong> You have logged in as "{{name}}"
    </div>
{{/if}}

{{#if msgl}}
    <div class="alert alert-danger">
        <strong>Members area!</strong>
        Please <a href="/login">Login.</a>
    </div>
{{else}}
    <div class="container" style="width:40%;align-content:center">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Login</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center" >
            <form class="form-horizontal" method="post" action="#">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/if}}
