{{#if tweets}}
    <center>
        <h4>Your tweets</h4><br>
    </center>
    {{#each tweets}}
        <div class="container" style="width: 50%">
            <div class="panel panel-info">
                <div class="panel-body"><p>{{this}}</p></div>
            </div>
        </div>
    {{/each}}
{{else}}
    <div class="container">
        <h4>You don't have any tweets!</h4>
        <h5>Tweet <a href="/tweet">here</a>!</h5>
    </div>
{{/if}}