
<div class="container">
    <div class='row vdivide'>
        <div class="col-sm-6 text-center">
                <img width="400px" height="400px" src="../uploads/stock.jpg">
        </div>
        <div class="col-sm-6 text-center text-primary">
                    <h1 class="display-3">This is a twitter clone made using ExpressJs and NodeJs</h1>
                    <h3>Please <a class="btn-warning" href="/signup">Signup</a> or <a class="btn-success" href="/login">Login</a></h3>
        </div>
    </div>
    </div>