
<div>
    <form class="form-horizontal" method="post" action="#">
        <h2>Tweet</h2>
        <textarea maxlength="100" rows="3" cols="60" name="text" required="required" placeholder="Have something to share,{{ name }}?"></textarea><br><br>
        <div style="width:30%">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Tweet!</button>
        </div>
    </form>

</div>