<h1>Upload your file</h1>
<br>
<form method="post" enctype="multipart/form-data" action="/upload">

    <p>You can upload only one file</p>
    <button class="btn btn-success" type="submit">Upload File</button>
</form>